:root {
  --theme-white: rgb(245, 254, 255);
  --theme-light: rgb(167, 174, 179);
  --theme-dark: #303030;
  --theme-dark-trans: rgba(30, 30, 30, 0.89);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: url(./assets/cityBG.jpg) no-repeat;
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-color: var(--theme-dark-trans);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.card {
  border-radius: 1.2rem;
  background: var(--theme-dark-trans);
  font-family: "Roboto", sans-serif;
  color: var(--theme-light);
  margin: 1em;
}
.search-bar {
  color: white;
  padding: 2px;
  background-color: var(--theme-dark-trans);
  border-radius: 1rem;
  color: white;
}
.btn {
  border-radius: 2em;
  padding: 0.4rem;
  margin: 0.5rem;
  background-color: var(--theme-dark);
  cursor: pointer
}
button:hover {
    background-color:var(--theme-light);
}

.city {
  color: var(--theme-white);
  padding: 0;
  margin-bottom: 0;
  font-family: var(--theme-font-family);
}
.temp {
  color: var(--theme-white);
  font-size: 18pt;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* STYLE FOR CLOUDY-HUMIDITY-WIND SPEED */
.search {
  padding: 1rem;
  background-color: var(--theme-dark-trans);
  border-radius: 1rem;
  color:var(--theme-light);
}



